.transactionsTable {
  background-color: #eee8aa;
  padding: 20px;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
}
th {
  background-color: #ffff00;
  padding: 25px;
}
tr {
  border: 2px solid black;
}
tr:nth-child(even) {
  background-color: #ffdab9;
  padding: 15px;
}
td {
  padding: 15px;
}
