.friendlist {
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.item {
  padding: 30px;
  display: flex;
  background-color: #ffdab9;
  border: 1px solid black;
}
.item:not(:last-child) {
  margin-bottom: 20px;
}

.friendOnline {
  border: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin-right: 20px;
}
.friendOffline {
  border: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-right: 20px;
}
.avatar {
  margin-right: 15px;
}
.name {
  font-weight: bold;
}
